{% extends "todo.html" %}

{% block content %}
<table width=100% style=text-align:center>
    <thead>
    <tr>
        <th>NO</th>
        <th>TODO ITEMS</th>
        <th>STATUS</th>
        <th>DUE</th>
        <th>ACTIONS</th>
        
    </tr>
</thead>
    <tbody>
        
        {% for record in table %}
            <tr>
                <td>{{forloop.counter}}</td>

                <td>{{record.task}}</td>
                {% if record.status == True %}
                    <td>completed</td>
                {% else %}
                    <td>incompleted</td>
                {% endif %}
                <td>{{record.status}}</td>
                <td>{{record.due}}</td>
                <td><a href="{% url 'finish' record.id %}">finish</a></td> 
                <td><a href="{% url 'edit' record.id %}">edit</a></td>
                <td><a href="{% url 'delete' record.id %}">delete</a></td>
                
                
                
                   
            </tr>
        {% endfor %}
  
    </tbody>
{% endblock content %}